.recentTransactions {
    height: 40vh;
    border-radius: .5em;
}

.title {
    color: white;
}

.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: rgb(93, 93, 93);
}

.hr {
    width: 95%;
    margin: auto;
}
.outer {
    padding: .5em;
    border-radius: 1em;
    background-color: white;
    height: 100%;
    box-shadow: 0 0 5px rgb(40, 40, 40);
}
.history {
    height: 100%;
    overflow: auto;
}

@media(max-width: 1150px) {
    .recentTransactions {
        width: 100%;
        padding: 1em;
    }
    
    .title {
        font-size: 1.5em;
    }
}

@media(max-width: 900px) {
    .recentTransactions {
        padding: 0;
    }
    
    .title {
        padding: 0 .5em;
    }

    .empty {
        font-size: .8em;
    }
}

@media(max-width: 492px) {
    .title {
        font-size: 1.2em;
    }

    .empty {
        font-size: .6em;
    }
}