.transaction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin: 1em 1em 0 1em;
    padding: 1em;
}

.modal {
    background-color: #00000045;
}

.details {
    justify-self: left;
    width: 65%;
    padding-left: 1em;
}

.title {
    color: #000000;
    justify-self: left;
    font-size: 1.5em;
}

.date {
    color: grey;
    justify-self: left;
    font-size: 1em;
}

.price {
    color: #F4BB4A;
    font-weight: bold;
    font-size: 1.5em;
    padding-right: 1em;
}

.control {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editIcon {
    color: #F4BB4A;
    box-shadow: 0 0 5px rgb(158, 158, 158);
}

.deleteIcon {
    color: red;
    box-shadow: 0 0 5px grey;
}
.icon {
    border: none;
    background-color: transparent;
    font-size: 2.1em;
    border-radius: .4em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2em;
    margin: 0 .2em;
    width: fit-content;
}

.type {
    width: fit-content;
}

@media(max-width: 900px) {
    .title {
        font-size: 1.2em;
    }

    .price {
        font-size: 1.2em;
    }

    .date {
        font-size: 1em;
    }

    .icon {
        font-size: 1.8em;
    }
}

@media(max-width: 492px) {
    .title {
        font-size: 1em;
    }

    .date {
        font-size: .9em;
    }

    .price {
        font-size: 1em;
    }

    .icon {
        font-size: 1.5em;
    }
}