.modal {
    background-color: #EFEFEF;
    border-radius: 1em;
    padding: 2em;
    box-shadow: 0px 1px 5px grey;
    width: 25vw;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #EFEFEF;
    border-radius: 1em;
    padding: 2em;
}

.modal h1 {
    color: black;
}

.sortOptions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .5em;
    padding: 1em;
    width: 100%;
}

.filterContainer {
    gap: .5em;
    padding: 1em;
    width: 100%;
}

.filterOptions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: .2em;
    width: 100%;
}

.option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.sortTypes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
}

.sortBtn {
    padding: .5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    border: none;
    background-color: #c9c9c9;
    border-radius: 8px;
    box-shadow: 0 1px 3px grey;
}

.sortBtnSelected {
    background-color: #4ab0f4;
}

.affirmation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* width: 60%; */
    margin: auto;
}

.control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.confirm {
    font-size: 1em;
    padding: 1em;
    border-radius: .5em;
    border: none;
    background-color: #F4BB4A;
    margin: 0 .5em;
    box-shadow: -1px 5px 5px grey;
}

.cancel {
    color: black;
    background-color: #E3E3E3;
    font-size: 1em;
    padding: 1em;
    border-radius: .5em;
    border: none;
    margin: 0 .5em;
    box-shadow: 0px 5px 5px grey;
}

@media(max-width: 1350px) {
    .modal {
        width: 35vw;
    }
}

@media(max-width: 1125px) {
    .modal {
        width: 45vw;
    }
}

@media(max-width: 900px) {
    .modal {
        width: 60vw;
    }
}

@media(max-width: 600px) {
    .modal {
        width: 95vw;
    }
}

