.title {
    background-color: #3B3B3B;
    color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em 1em;
}

.reset {
    padding: .5em;
    border: none;
    border-radius: .25em;
    font-size: 1em;
    background-color: #ad4af4;
    color: white;
}

@media(max-width: 492px) {
    .title {
        font-size: 1.2em;
    }

    .reset {
        font-size: .8em;
    }
}