* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #3B3B3B;
}

button:hover {
  cursor: pointer;
}

button {
  font-weight: bold;
}
